In [1499]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [1500]:
data = pd.read_csv('dados.csv', encoding='latin1', sep = ';', decimal =',')

In [1501]:
data.head(10)

,Data,Hora UTC,"PRECIPITAÇÃO TOTAL, HORÁRIO (mm)","PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)",PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB),PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB),RADIACAO GLOBAL (Kj/m²),"TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)",TEMPERATURA DO PONTO DE ORVALHO (°C),TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C),TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C),UMIDADE REL. MAX. NA HORA ANT. (AUT) (%),UMIDADE REL. MIN. NA HORA ANT. (AUT) (%),"UMIDADE RELATIVA DO AR, HORARIA (%)","VENTO, DIREÇÃO HORARIA (gr) (° (gr))","VENTO, RAJADA MAXIMA (m/s)","VENTO, VELOCIDADE HORARIA (m/s)"
0,01/01/24,0000 UTC,0.0,1003.9,1003.9,1002.7,NaN,25.6,24.1,26.2,25.6,24.1,23.9,92.0,87.0,92.0,29.0,4.8,1.8
1,01/01/24,0100 UTC,0.0,1003.9,1004.1,1003.9,NaN,25.7,24.2,25.8,25.6,24.3,24.1,92.0,91.0,91.0,61.0,3.7,2.2
2,01/01/24,0200 UTC,0.0,1004.1,1004.1,1003.9,NaN,25.1,23.9,25.7,25.1,24.2,23.9,93.0,91.0,93.0,36.0,3.7,1.4
3,01/01/24,0300 UTC,0.0,1003.6,1004.2,1003.6,NaN,24.4,23.8,25.2,24.3,24.1,23.6,97.0,93.0,97.0,37.0,2.1,1.1
4,01/01/24,0400 UTC,0.0,1003.3,1003.7,1003.3,NaN,24.2,23.7,24.6,24.2,24.0,23.7,97.0,96.0,97.0,112.0,1.4,0.1
5,01/01/24,0500 UTC,0.0,1003.3,1003.3,1003.1,NaN,24.3,23.9,24.4,24.0,24.1,23.7,99.0,97.0,98.0,330.0,1.6,0.6
6,01/01/24,0600 UTC,0.0,1003.1,1003.3,1003.0,NaN,24.9,24.2,24.9,24.3,24.2,24.0,98.0,96.0,96.0,27.0,1.5,1.0
7,01/01/24,0700 UTC,0.0,1003.1,1003.2,1003.0,NaN,24.3,23.5,25.0,24.3,24.2,23.5,96.0,95.0,95.0,38.0,1.8,1.1
8,01/01/24,0800 UTC,0.0,1003.4,1003.4,1003.0,NaN,23.9,23.5,24.3,23.9,23.8,23.5,98.0,96.0,98.0,143.0,1.7,0.4
9,01/01/24,0900 UTC,0.0,1003.7,1003.7,1003.3,225.9,26.0,24.1,26.1,23.8,24.7,23.5,99.0,89.0,89.0,2.0,1.0,0.6

In [1502]:
df_radiacao = data[['Data','Hora UTC', 'RADIACAO GLOBAL (Kj/m²)']]

In [1503]:
df_radiacao.head(10)

       Data  Hora UTC  RADIACAO GLOBAL (Kj/m²)
0  01/01/24  0000 UTC                      NaN
1  01/01/24  0100 UTC                      NaN
2  01/01/24  0200 UTC                      NaN
3  01/01/24  0300 UTC                      NaN
4  01/01/24  0400 UTC                      NaN
5  01/01/24  0500 UTC                      NaN
6  01/01/24  0600 UTC                      NaN
7  01/01/24  0700 UTC                      NaN
8  01/01/24  0800 UTC                      NaN
9  01/01/24  0900 UTC                    225.9

In [1504]:
df_radiacao = df_radiacao.dropna()

In [1505]:
print(df_radiacao)

          Data  Hora UTC  RADIACAO GLOBAL (Kj/m²)
9     01/01/24  0900 UTC                    225.9
10    01/01/24  1000 UTC                    949.0
11    01/01/24  1100 UTC                   1743.4
12    01/01/24  1200 UTC                   2661.2
13    01/01/24  1300 UTC                   2034.2
...        ...       ...                      ...
8777  31/12/24  1700 UTC                   3142.4
8778  31/12/24  1800 UTC                   2480.1
8779  31/12/24  1900 UTC                   1398.7
8780  31/12/24  2000 UTC                    257.7
8781  31/12/24  2100 UTC                     65.7

[4832 rows x 3 columns]

In [1506]:
df_radiacao.shape

(4832, 3)

In [1507]:
df_radiacao.to_csv('radiacao.csv',sep=';')

In [1508]:
#df_radiacao = df_radiacao[ df_radiacao['RADIACAO GLOBAL (Kj/m²)']>29]

In [1509]:
#df_radiacao.shape

In [1510]:
df_radiacao['Hora UTC'] = pd.to_datetime(df_radiacao['Data'] + df_radiacao['Hora UTC'], format='%d/%m/%y%H%M UTC',utc=True)

# Converta para o fuso horário local (ex: São Paulo)
df_radiacao['Hora Local'] = df_radiacao['Hora UTC'].dt.tz_convert('America/Sao_Paulo')

In [1511]:
df_radiacao.head()

,Data,Hora UTC,RADIACAO GLOBAL (Kj/m²),Hora Local
9,01/01/24,2024-01-01 09:00:00+00:00,225.9,2024-01-01 06:00:00-03:00
10,01/01/24,2024-01-01 10:00:00+00:00,949.0,2024-01-01 07:00:00-03:00
11,01/01/24,2024-01-01 11:00:00+00:00,1743.4,2024-01-01 08:00:00-03:00
12,01/01/24,2024-01-01 12:00:00+00:00,2661.2,2024-01-01 09:00:00-03:00
13,01/01/24,2024-01-01 13:00:00+00:00,2034.2,2024-01-01 10:00:00-03:00

In [1512]:
df_radiacao = df_radiacao[df_radiacao['Hora Local'].dt.hour.between(6, 18)]

In [1513]:
df_radiacao.head(20)

,Data,Hora UTC,RADIACAO GLOBAL (Kj/m²),Hora Local
9,01/01/24,2024-01-01 09:00:00+00:00,225.9,2024-01-01 06:00:00-03:00
10,01/01/24,2024-01-01 10:00:00+00:00,949.0,2024-01-01 07:00:00-03:00
11,01/01/24,2024-01-01 11:00:00+00:00,1743.4,2024-01-01 08:00:00-03:00
12,01/01/24,2024-01-01 12:00:00+00:00,2661.2,2024-01-01 09:00:00-03:00
13,01/01/24,2024-01-01 13:00:00+00:00,2034.2,2024-01-01 10:00:00-03:00
14,01/01/24,2024-01-01 14:00:00+00:00,3482.3,2024-01-01 11:00:00-03:00
15,01/01/24,2024-01-01 15:00:00+00:00,3969.7,2024-01-01 12:00:00-03:00
16,01/01/24,2024-01-01 16:00:00+00:00,3476.1,2024-01-01 13:00:00-03:00
17,01/01/24,2024-01-01 17:00:00+00:00,3040.6,2024-01-01 14:00:00-03:00
18,01/01/24,2024-01-01 18:00:00+00:00,2438.4,2024-01-01 15:00:00-03:00
19,01/01/24,2024-01-01 19:00:00+00:00,1586.0,2024-01-01 16:00:00-03:00
20,01/01/24,2024-01-01 20:00:00+00:00,323.3,2024-01-01 17:00:00-03:00
21,01/01/24,2024-01-01 21:00:00+00:00,73.0,2024-01-01 18:00:00-03:00
33,02/01/24,2024-01-02 09:00:00+00:00,153.0,2024-01-02 06:00:00-03:00
34,02/01/24,2024-01-02 10:00:00+00:00,925.3,2024-01-02 07:00:00-03:00
35,02/01/24,2024-01-02 11:00:00+00:00,1766.2,2024-01-02 08:00:00-03:00
36,02/01/24,2024-01-02 12:00:00+00:00,2612.8,2024-01-02 09:00:00-03:00
37,02/01/24,2024-01-02 13:00:00+00:00,3319.9,2024-01-02 10:00:00-03:00
38,02/01/24,2024-01-02 14:00:00+00:00,3727.8,2024-01-02 11:00:00-03:00
39,02/01/24,2024-01-02 15:00:00+00:00,2956.9,2024-01-02 12:00:00-03:00

In [1514]:
df_radiacao.shape

(4721, 4)

In [1515]:
# Formatar Hora UTC sem timezone
df_radiacao['Hora UTC'] = df_radiacao['Hora UTC'].dt.strftime('%H:%M')

# Se quiser também para Hora Local:
df_radiacao['Hora Local'] = df_radiacao['Hora Local'].dt.strftime('%H:%M')

In [1516]:
df_radiacao

          Data Hora UTC  RADIACAO GLOBAL (Kj/m²) Hora Local
9     01/01/24    09:00                    225.9      06:00
10    01/01/24    10:00                    949.0      07:00
11    01/01/24    11:00                   1743.4      08:00
12    01/01/24    12:00                   2661.2      09:00
13    01/01/24    13:00                   2034.2      10:00
...        ...      ...                      ...        ...
8777  31/12/24    17:00                   3142.4      14:00
8778  31/12/24    18:00                   2480.1      15:00
8779  31/12/24    19:00                   1398.7      16:00
8780  31/12/24    20:00                    257.7      17:00
8781  31/12/24    21:00                     65.7      18:00

[4721 rows x 4 columns]

In [1517]:
dias = df_radiacao['Data'].to_list()

In [1518]:
len(set(dias))

366

In [1519]:
#df_radiacao.to_csv('nome_do_novo_arquivo.csv', index=False, sep=';', encoding='utf-8')